@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #f1f5f9!important;
}

a {
    color: black!important;
    text-decoration: none!important;
}

.nav-button-container>div {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}